---
- name: Check if Homebrew binary is installed
  ansible.builtin.stat:
    path: "{{ homebrew_binary_path }}/brew"
  register: homebrew_binary
  changed_when: false

- name: Ensure Homebrew is installed
  ansible.builtin.include_tasks:
    file: install.yml
  when: not homebrew_binary.stat.exists

- name: Ensure Homebrew repositories are up to date
  community.general.homebrew:
    update_homebrew: true
  changed_when: false

- name: Ensure Homebrew packages are upgraded
  community.general.homebrew:
    upgrade_all: true
  when: homebrew_upgrade_packages

- name: Ensure extra Homebrew Taps are present/absent
  community.general.homebrew_tap:
    name: "{{ item.name|default(item) }}"
    state: "{{ item.state|default('present') }}"
    url: "{{ item.url|default(omit) }}"
  with_items: "{{ homebrew_taps }}"

- name: Ensure Fonts are present/absent
  community.general.homebrew_cask:
    name: "{{ item.name|default(item) }}"
    state: "{{ item.state|default('present') }}"
    options: "{{ item.options|default(omit) }}"
  with_items: "{{ homebrew_fonts }}"

- name: Ensure Homebrew Formulae are present/absent
  community.general.homebrew:
    name: "{{ item.name|default(item) }}"
    state: "{{ item.state|default('present') }}"
    options: "{{ item.options|default(omit) }}"
  with_items: "{{ homebrew_formulae }}"

- name: Ensure Homebrew Casks are present/absent
  community.general.homebrew_cask:
    name: "{{ item.name|default(item) }}"
    state: "{{ item.state|default('present') }}"
    options: "{{ item.options|default(omit) }}"
    accept_external_apps: true
  with_items: "{{ homebrew_casks }}"
