{{ ansible_managed | comment }}

#set -g default-terminal "screen-256color"
set -g mouse on
unbind C-b
set -g prefix C-a
bind C-a send-prefix
bind r source-file ~/.tmux.conf \; display "Reloaded config"
bind V split-window -h
bind H split-window
bind-key m set-option -g mouse on \; display 'Mouse: ON'
bind-key M set-option -g mouse off \; display 'Mouse: OFF'
