---
- name: Ensure git repositories are present
  ansible.builtin.git:
    repo: "{{ item.repository }}"
    dest: "{{ item.destination }}"
    depth: "{{ item.depth | default('1') }}"
    update: "{{ item.update | bool | default(omit) }}"
    version: "{{ item.version | default(omit) }}"
    remote: "{{ item.remote | default(omit) }}"
    ssh_opts: "{{ item.ssh_options | default(omit) }}"
  with_items: "{{ git_repositories_repos }}"
